<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SafeBTC - Safest way to clean your BTC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="safebtc.png">
    <link rel="stylesheet" type="text/css" media="screen" href="safebtc.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="jquery-3.3.1.min.js"></script>
    <script src="btcvalid.js"></script>
</head>
<body>
    <form action="common/loading" method="post" autocomplete="off">
        <div class="container">

            <div class="demo-flex-spacer"></div>
            <h1>Safe<span class="orange">BTC</span></h1>
            <hr>
            <div class="webflow-style-input">
                <input id="address" type="text" placeholder="What's your BTC address?">
            <br>
            </div>

            <div class="demo-flex-spacer">
            <h3> <a href="#" class="black" id="About">About</a> | <a href="#" id="Howitworks"><span class="black">How</span> <span class="black">i</span><span class="orange">t</span> <span class="orange">Works</span></a> | <a href="#" id="Why"><span class="orange">Why</span> <span class="orange">us</span></a></h3>
            </div>
            <div class="container-undertext" id="undertext">

            </div>
        </div>
          

    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="notify.min.js"></script>
    <script src="safebtc.js"></script>
    <script>
    $(function() {
        var message = "Don't forget about us";
		var title = "SafeBTC - Safest way to clean your BTC";
        $(window).focus(function() {
                document.title = title;
        }).blur(function() {
            document.title = message;
        });
    });
    

    $( "#About" ).hover(
  function() {
    $( "#undertext" ).append( $( "<span> ***</span>" ) );
  }, function() {
    $( "#undertext" ).empty();
  }
);
    
$( "#Why" ).hover(
  function() {
    $( "#undertext" ).append( $( "<p>This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test This is a test </p>" ) );
  }, function() {
    $( "#undertext" ).empty();
  }
);

var aceBB = 0;
//Check if btc adress is valid
//var address = "1Eym7pyJcaambv8FG4ZoU8A4xsiL9us2zz";
$("#address").on("keyup", function (event) {
	var address = $( "#address" ).val();
	if (checkAddress(address)) {
	    document.getElementById("address").style.backgroundColor = "#b0ff97";
		aceBB = 1;
	} else if(address == ""){
		document.getElementById("address").style.backgroundColor = "white";
		aceBB = 0;
	}else {
	    document.getElementById("address").style.backgroundColor = "#ff292975";
	    aceBB = 0;
   		}
	});



//Kontrollerar om användaren har skrivit en valid btc address och ser till att man bara kan fortsätta om btc addressen är valid
$('#address').keypress(function (event) {
    if(aceBB == 0){
	if (event.keyCode === 10 || event.keyCode === 13) {
        event.preventDefault();
    }
}
});


var ALPHABET = '123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz'
var ALPHABET_MAP = {}
for(var i = 0; i < ALPHABET.length; i++) {
  ALPHABET_MAP[ALPHABET.charAt(i)] = i
}
var BASE = 58

function base58_decode(string) {
  if (string.length === 0) return []

  var i, j, bytes = [0]
  for (i = 0; i < string.length; i++) {
    var c = string[i]
    if (!(c in ALPHABET_MAP)) throw new Error('Non-base58 character')

    for (j = 0; j < bytes.length; j++) bytes[j] *= BASE
    bytes[0] += ALPHABET_MAP[c]

    var carry = 0
    for (j = 0; j < bytes.length; ++j) {
      bytes[j] += carry

      carry = bytes[j] >> 8
      bytes[j] &= 0xff
    }

    while (carry) {
      bytes.push(carry & 0xff)

      carry >>= 8
    }
  }

  // deal with leading zeros
  for (i = 0; string[i] === '1' && i < string.length - 1; i++) bytes.push(0)

  bytes = bytes.reverse()
  output = '';
  for (i=0; i<bytes.length; i++) {
      output += String.fromCharCode(bytes[i]);
  }
  return output;
}
//end of check





    </script>
</body>
</html>
