<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SafeBTC - Safest way to clean your BTC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="safebtc.png">
    <link rel="stylesheet" type="text/css" media="screen" href="safebtc.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <form action="common/loading" method="post">
        <div class="container">

            <div class="demo-flex-spacer"></div>
            <h1>Safe<span id="orange">BTC</span></h1>
            <hr>
            <div class="webflow-style-input">
                <input id="address" type="text" placeholder="What's your BTC address?">
                <button type="submit"><i class="icon ion-android-arrow-forward"></i></button>
            </div>

            <div class="demo-flex-spacer"></div>
            <h3> <a href="#" id="black">About</a> | <a href="#"><span id="black">How</span> <span id="black">i</span><span id="orange">t</span> <span id="orange">Works</span></a> | <a href="#"><span id="orange">Why</span> <span id="orange">us</span></a></h3>
          </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="notify.min.js"></script>
    <script src="safebtc.js"></script>
</body>
</html>
