<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SafeBTC - Safest way to clean your BTC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="safebtc.png">
    <link rel="stylesheet" type="text/css" media="screen" href="safebtc.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="jquery-3.3.1.min.js"></script>
    <script src="http://www.julianhaight.com/btcvalid.js"></script>
</head>
<body>
    <form action="common/transaction" method="post" autocomplete="off">
        <div class="container">

            <div class="demo-flex-spacer"></div>
            <h1>Safe<span class="orange">BTC</span></h1>
            <hr>
            <div class="webflow-style-input">
                <input id="address" type="text" placeholder="What's your BTC address?">
            <br>
            </div>

            <div class="demo-flex-spacer">
            <h3> <a href="#" class="black" id="About">About</a> | <a href="#" id="Howitworks"><span class="black">How</span> <span class="black">i</span><span class="orange">t</span> <span class="orange">Works</span></a> | <a href="#" id="Why"><span class="orange">Why</span> <span class="orange">us</span></a></h3>
            </div>
            <div class="container-undertext" id="undertext">

            </div>
        </div>
          

    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="notify.min.js"></script>
    <script src="safebtc.js"></script>
    <script>
    $(function() {
        var message = "Don't forget about us";
		var title = "SafeBTC - Safest way to clean your BTC";
        $(window).focus(function() {
                document.title = title;
        }).blur(function() {
            document.title = message;
        });
    });
    

    $( "#About" ).hover(
  function() {
    $( "#undertext" ).append( $( "<span>SafeBTC Is a bitcoin laundering service designed to make your coins untraceable. We value privacy and think it is important that people are able to own private funds that only you will be able to trace and keep track off. The standard fee is 2% but it will vary +- 0,5% all the time because it will be harder for blockchain analysts to track it if we do not follow a specific pattern.</span>" ) );
  }, function() {
    $( "#undertext" ).empty();
  }
);
    
$( "#Howitworks" ).hover(
  function() {
    $( "#undertext" ).append( $( "<p>We launder your coins by changing the origin of you coins to a untraceable wallet which is unrelated to your original funds making them untraceable. We have a banked a bunch of coins ready to use at all times. We have many different “pots” filled with BTC and we will send you small parts of your transaction from all the different pots.</p>" ) );
  }, function() {
    $( "#undertext" ).empty();
  }
);


$( "#Why" ).hover(
  function() {
    $( "#undertext" ).append( $( "<p>We will give you the same service as the competitors faster and cheaper. We do not keep track of the transactions and we will only save your bitcoin address during the exchange progress then it will be permanently deleted. All of the contact you do with us will also be encrypted using advanced encryption. If you are planning to exchange large amounts of funds please contact us and we will be able to workout a better deal for you. (At least 10BTC) </p>" ) );
  }, function() {
    $( "#undertext" ).empty();
  }
);


//Check if btc adress is valid
//var address = "1Eym7pyJcaambv8FG4ZoU8A4xsiL9us2zz";
$("#address").on("keyup", function (event) {
	var address = $( "#address" ).val();
	if (checkAddress(address)) {
	    document.getElementById("address").style.backgroundColor = "#ff8100ad";
      
	} else if(address == ""){
		document.getElementById("address").style.backgroundColor = "white";
    $('#address').keypress(function (event) {
    if (event.keyCode === 10 || event.keyCode === 13) {
        event.preventDefault();
    }
});
	}else {
	    document.getElementById("address").style.backgroundColor = "#ff292975";
      $('#address').keypress(function (event) {
    if (event.keyCode === 10 || event.keyCode === 13) {
        event.preventDefault();
    }
});
	}
});


    </script>
</body>
</html>
