@import url('https://fonts.googleapis.com/css?family=Dosis');

html {
    font-size: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: #455A64;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 0px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}


html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

input {
    border-style: none;
    background: transparent;
    outline: none;
}

button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 13px;
}

.container-undertext{
    max-width: 300px;
}


hr {
    width: 300px;
}

.webflow-style-input input {
    flex-grow: 1;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
}

.orange {
    display: inline;
    color: orange;
}
.black {
    display: inline;
    color: black;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

.noty_text {
    color: white;
}

.noty_message {
    padding-bottom: 20px;
    background-color: orange;
}